* {
    margin: 0;

    padding: 0;

    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}

header {
    background-image: url('header.avif');

    background-repeat: no-repeat;

    background-position: center center;

    background-size: cover;

    object-fit: cover;

    padding-bottom: 30px;
}

nav {
    display: flex;

    align-items: center;

    justify-content: center;

    padding: 20px;

}


h1 {
    display: flex;

    align-items: start;

    justify-content: left;

    width: 50%;

    float: left;
}



h1 a {
    color: white;

    text-decoration: none;

    font-size: 40px;

    transition: transform 1s;

    margin-left: 20px;

    animation: animate 1s infinite;
}

 @keyframes animate {
    90%{transform: scale(1.2);}
}


nav ul {
    display: flex;

    align-items: center;

    justify-content: center;

    width: 50%;

    list-style: none;
}

nav ul a {
    color: white;

    text-decoration: none;

    font-size: 20px;

    margin-left: 10px;

    transition: color 1s;
}

nav ul a:hover {
    color: rgba(255, 255, 255, 0.476);

    text-decoration: underline;
}


.a {
    color: red;
}

.L {
    color: blue;
}

span {
    text-decoration: underline;
}

figure img {
    width: 150px;

    height: 170px;

    margin: auto;

}


figure {
    overflow: hidden;

    border: 1px solid red;

    border-radius: 300px;

    width: 150px;

    height: 170px;

    margin: auto;

    margin-top: 20px;
}

header .paragrafo {
    text-align: center;

    color: white;

    font-size: 30px;
}



 /* começo typying */
.container {
font-size: 40px;
color: white;
margin: auto;
white-space: nowrap;
overflow: hidden;
animation: typewriter 3s steps(13) infinite alternate,
blink 800ms steps(13) infinite normal;
border-right: 5px solid blue;
}

@keyframes typewriter {
from {
width: 0%;
}
to {
width: 50%;
}
}

@keyframes blink {
from {
border-color: black;
}

to {
border-color: transparent;
}
}
/* fim typying */


/* começo  Responsividade */
/* tablet */
@media (min-width:992px) and(max-width:1200px) {
 
}

/* Normal */
@media (min-width:768px) and(max-width:991px) {
 

}

/* menor */
@media(max-width:767px) {
 

}



/* nav  */
 

/* fim Responsividade  */

 